* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-family: 'Lato', sans-serif;

}

img {
    width: 90%;
}

header {
    /* border: 0.5px solid red; */
    padding-top: 12%;
}

.slogan {
    /* border: 0.5px solid red; */
    padding: 0 2%;
    margin-top: 12%;
}

.call-to-action {
    /* border: 0.5px solid red; */
    margin-top: 14%;
}

.call-to-action img {
    width: 25%;
    margin-top: 5%;
    /* height: 50px; */
}

.links {
    /* border: 0.5px solid red; */
    margin-top: 15%;
}

.links p {
    margin-bottom: 3% ;
}

.links-wrapper {
    display: flex;
    justify-content: space-evenly;
}

footer {
    /* border: 0.5px solid red; */
    margin-top: 10%;
    padding: 1%;
}

footer img {
    width: 12%;
}



