* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-family: 'Lato', sans-serif;

}

img {
    width: 80%;
}

header {
    padding-top: 6%;
}

.slogan {
    padding: 0 8%;
    margin-top: 3%;
    font-size: 0.8rem;
}


.call-to-action img {
    width: 16%;
    
}

.popular-itineraries {
    margin-top: 3%;
    font-size: 0.9rem;
}





.itineraries-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 35%;
    margin: 1%;
}
/* 
.oimg:hover {
    opacity: 0.5;
} */

.card h1 {
    font-size: 1.5rem;
}

